<article class="listing">
   <img src="{{fruit.image}}" alt="">
  <h3>{{fruit.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{fruit.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{fruit.city}}
  </div>
</article>
{{yield}}
